/** 基础通用 **/

.left {
  float: left;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.svg-container {
  font-size: 16px;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  cursor: pointer;
  background-color: #dddee0;
  border-radius: 6px;
  opacity: 0.3;
  transition: 0.3;
}

::-webkit-scrollbar-track:vertical {
  background-color: none;
  border-radius: 6px;
}
